@import url("https://fonts.googleapis.com/css?family=Roboto");


body {
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #00A6A6;
    font-size: 5em;
    margin-bottom: 0
}

.banner h2 {
    text-align: center;
    color: #00A6A6;
    font-size: 2em;
    margin: 0;
}

a {
    text-decoration: none;
    color: #EFCA08;
}

.summary {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #037971;
}

.preamble {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #F49F0A;
    color: #FFFFFF;
    box-shadow: 10px 10px #EFCA08;

}

.supporting div{
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #F49F0A;
    color: #fff;
    box-shadow: 10px 10px #EFCA08;
}

.supporting div:nth-child(odd) {
    background: #EFCA08;
    box-shadow: 10px 10px #F49F0A;
}

footer {
    background: #B72135;
    padding: 20px 30px;
    margin: 50px 0 0;
}

footer a {
    margin: 0 10px;
}

.wrapper li{
    list-style: none;
}

.wrapper div{
    padding: 30px;
    background: #D7263D;
}

.wrapper div:nth-child(2){
    padding: 30px;
    background: #F8333C;
}

.wrapper div:nth-child(3){
    background: #FF7733;
}