body {
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
}
ul li:nth-child(odd) {
    background-color:lavender;
}
form {
    display:inline;
}
#completed_list li {
    text-decoration: line-through;
}
