<title>Browse Posts | Blog</title>
<style>
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 60%;
    margin: 0;
    padding: 0 20px 20px 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}
#inner_container {
    font-size: .7em;
    width: 30%;
    margin: 10px auto 20px auto;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
#inner_container a{
    text-decoration: none;
}
h1 {
    font-size: 1.25em;
}
ul {
    text-align: left;
    list-style-type: none;
    padding: 20px 20px 10px 20px;
    font-size: .75em;
}
li {
    padding: 5px 5px 5px 5px;
}
ul li:nth-child(odd) {
    background-color:#e6e6e6;
}
ul li:nth-child(even) {
    background-color: #b5b5b5;
}
</style>

<h1>Browse Posts</h1>
<div id="container">
    <div id="inner_container">
        <a href="{% url 'blog:post_compose' %}">Post</a><b>Browse</b><a href="{% url 'blog:profile' %}">Profile</a><a href="{% url 'blog:logout_user' %}">Log Out</a>
    </div>
    <ul id="posts">
        {% for post in posts %}
        <li><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}, {{ post.user }}, {{ post.timestamp }}</a></li>
        {% endfor %}
    </ul>
</div>
