@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300i,400,700,800,900');


body {
    margin: 0;
    color: #fff;
    background-color: #CCBA9F;
    font-family: 'Alegreya Sans', sans-serif;
}

h1 {
    font-weight: 800;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px #000;
    background: #50A2A7;
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    background: #50A2A7;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.banner h3 {
    font-weight: 400;
    text-align: center;
    color: #fff;
    background: #50A2A7;
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 20px;
    box-shadow: 0 3px 6px -2px #000;
}

h4 {
    margin: 1px;
    font-size: 1.5em;
    font-weight: 800;
    text-shadow: 1px 1px #000;
}

.summary {
    margin: 1px auto;
    padding: 1px;
    width: 30%;
    background: #50A2A7;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #000;
}

.python {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #E9B44C;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #000;
}

.html-css-js {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #9B2915;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #000;
}

.django {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #E9B44C;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #000;
}

.capstone {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #9B2915;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;;
}

.misc {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #E9B44C;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px #000;
}


footer {
    display: flex;
    justify-content: space-between;
    background: #50A2A7;
    padding: 20px 30px;
    margin: 50px 0 0;
    box-shadow: inset 0 20px 20px -20px #000;
}

footer a {
    margin: 0 10px;
}

.wrapper li{
    list-style: none;
}

.wrapper div{
    padding: 30px;
    background: #D7263D;
}

.wrapper div:nth-child(2){
    padding: 30px;
    background: #F8333C;
}

.wrapper div:nth-child(3){
    background: #FF7733;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.content-icon {
    width: 75px;
    height: 75px;
    margin-top: 5px;
    filter: drop-shadow(0 2px 2px #000);
}


.footer_name {
    margin-left: 50px;
    filter: drop-shadow(1px 1px #000);
}

.social {
    margin-top: 15px;
    margin-right: 50px;
    filter: drop-shadow(1px 1px #000);
}

.img-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 8px 6px -6px #000;
}

.img-circle:hover {
     transition: 2s;
     transform: rotateY(360deg);
}
